* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1080px;
  margin: auto;
}

/* banner */
.banner {
  max-width: 1920px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #304F47;
}

.banner-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.group-banner-contact {
  display: flex;
  align-items: center;
  gap: 32px;
}

.media-accounts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header {
  width: min(1920px, 100%);
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-block: 10px;
}

.nav {
  display: flex;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: #fff;

  a {
    color: #000;
  }
}

.heading-card {
  color: #000;
  width: 608px;
  padding: 10px;
  margin: 32px auto;
  margin-block: 4rem;
}

.heading-orange {
  color: #C7923E;
  font-size: 1.4rem;
}

.main-heading2 {
  font-size: 48px;
}

/* hero-section */
.hero {
  position: relative;
  height: 500px;
}

.hero-section {
  width: 100%;
  position: relative;
}

.hero-section img {
  width: 100%;
}

.hero-headings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.hero-heading4 {
  font-size: 24px;
  font-weight: 400;
  color: #C7923E;
}

.hero-heading-name {
  font-size: 24px;
  font-weight: 400;
}

.hero-headings-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.form-inputs {
  width: 1080px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 2rem;
  color: #fff;
  background-color: #304F47;
  border-radius: 4px;
  margin-left: -36px;
}

#form-details {
  background-color: #fff;
  color: #1a1a1a;
  width: 816px;
  margin-left: 124px;
}

#input-field-id {
  display: flex;
  align-items: center;
  gap: 3rem;
}

#user-guest,
#calendar,
#all-option {
  color: #1a1a1a;
}

.hero-form {
  position: absolute;
  bottom: -140px;
  left: 32px;

}

.input-field {
  display: flex;
  align-items: center;
  gap: 1rem;
}

select {
  background-color: transparent;
  border: 0;
  color: #fff;
}

.date,
.packages,
.guest {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cta-section {
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 2rem;
}

/* contactpage style */
.contactpage-detail-section {
  margin-block: 3rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #a1a0a0;
  align-items: flex-start;
  width: 500px;
  height: fit-content;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: flex-start;
  margin-left: 60px;
  border-radius: 30px;
  padding: 24px;
}

.contact-form input {
  width: 80%;
}

.phone-input {
  display: flex;
  width: 85%;
}

.name,
.email-item,
.phone-number-item,
.message-item {
  color: #1a1a1a;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.name-field {
  width: 100%;
}

.form-group input {
  border: 1px solid #E1E1E1;
  padding-inline: 16px;
  color: #000;
}

.country-code {
  color: #000;
}

.contact-form-heading {
  color: #000;
  font-size: 24px;
}

.contact-heading,
.contact-p {
  color: #1a1a1a;
  width: 80%;
}

.contact-p,
.media-contact-heading {
  text-align: left;
}

.contact-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact,
.mail {
  display: flex;
  align-items: center;
  gap: 8px;
}

.phone-number,
.email-address {
  display: flex;
  align-items: center;
  gap: 16px;
}

#message {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #E1E1E1;
  width: 85%;
  background-color: #fff;
  color: #000;
}

.button-align-left {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-right: 270px;
  background-color: #C7923E;
  color: #fff;
}

.media {
  width: 300px;
  height: 157px;
  border: 1px solid #304f4736;
  padding: 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.media p {
  color: #304F47;
  text-align: left;
}

.media-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.media-contact-heading {
  color: #1a1a1a;
  font-size: 20px;
}

.media-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 8px;
}

.get-intouch {
  margin-block: 3rem;
}

.profile-circle {
  width: 120px;
  height: 120px;
  top: 4298px;
  left: 230px;
  border: 5px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.card {
  width: 300px;
  height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 8px 1px #000;
  background-color: #fff;
}

.card img {
  width: 100px;
  height: 100px;
  top: 4308px;
  left: 240px;
  border-radius: 50px;
}

.card-content {
  width: 250px;
  color: #000;
  text-wrap: balance;
  text-align: justify;
}

.card-section {
  width: 100%;
  margin-block: 3rem;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* overflow-x: scroll;
  scrollbar-width: 100%;
  scroll-behavior: smooth;
  scrollbar-color: #080; */
}

h3 {
  text-align: center;
}

.home-card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1rem;
  margin-top: 60px;
  width: 350px;
  height: 584px;
  border: 1px solid #E1E1E1;
  border-radius: 8px;
}

.home-card img {
  width: 350px;
  height: 310px;
  top: 1282px;
  left: 839px;
  border-radius: 5px 5px 0 0;
}

.home-card-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.package-item {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.home-card-3-items {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.home-contact {
  display: flex;
  gap: 2rem;
  align-items: center;
  overflow: hidden;
  padding: 1rem 0;

}

.home-card-heading {
  color: #000;
  text-align: left;
  padding-left: 8px;
}

.home-card-paragraph {
  color: #2b2a2a;
  text-align: left;
  padding-left: 8px;
  text-wrap: balance;
}

.home-button {
  width: 100%;
  display: flex;
  padding-right: 230px;
}

.package-card {
  width: 250px;
  height: 150px;
  border-radius: 30px;
  background-color: #304F47;
  padding: 16px;
}

.home-card-heading {
  color: #000;
  font-weight: 600;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
}

.tour-packages {
  margin-block: 40px;
}